{% extends "_base.html" %}

{% block nav %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('database.list_databases') }}">Databases</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('database.show_database', database_name=database_name) }}">{{ database_name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ collection_name }}</li>
  </ol>
</nav>

{% endblock %}


{% block content %}

<h2>Collection <span class="badge bg-secondary">{{ database_name }}/{{ collection_name }}</span></h2>
<h3>Documents</h3>

<ul class="list-group">
  {% for document in documents %}
  <li class="list-group-item"><pre>{{ document }}</pre></li>
  {% endfor %}
</ul>

{% endblock %}